.container {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

*{
  margin: 0;
  padding: 0;
}

.cl-f::before,
.cl-f::after {
  content: "";
  display: block;
  clear: both;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

button {
  border: none;
}

button:active {
  border: none;
}

.two {
  margin-left: 28px;
}

.none{
  display: none;
}

/* .pos li {
  float: left;
  width: 225px;
  height: 280px;
  padding-top: 30px;
  background: white;
} */
.img {
  height: 125px;
  width: 125px;
  margin: 0 auto;
}
.p_name{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.p_price{
  color: orange;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.p_title,
del {
  text-align: center;
  color: #b0b0b0;
  font-size: 14px;
}