.head {
  height: 40px;
  line-height: 40px;
  background: #333;
}
.head .down {
  position: relative;
}
.head a {
  font-size: 12px;
  color: #b0b0b0;
}
.head .pic {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 20;
  text-align: center;
  background: #fff;
  /* top: 40px; */
  left: -50%;
  color: #333;
}
.head img{
  width: 90px;
  height: 90px;
  margin-top: 10px;
}
.head .down:hover .pic {
  display: block;
}
.head a:hover {
  color: #fff;
}
.head span {
  padding: 0px 10px;
}
.shopCar {
  position: relative;
  width: 120px;
  height: 40px;
  line-height: 40px;
  background: #424242;
  text-align: center;
  margin-left: 20px;
}
.shopCar span img {
  width: 20px;
  height: 20px;
}
.shopCar:hover a{
  color: orangered;
}
.shopCar:hover .bottom{
  display: block;
  color: orangered;
}
.shopCar .bottom {
  display: none;
  height: 100px;
  width: 200px;
  background: #000;
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 10;
}
.body {
  margin-top: 0;
  position: relative;
  height: 120px;
  /* z-index: -1; */
}

.logo {
  width: 150px;
  height: 120px;
  /* background: orange; */
}

.logo img{
  width: 70px;
  height: 70px;
  line-height: 120px;
  margin: 20px auto;
  background: orangered;
}

.list {
  width: 650px;
  height: 120px;
  /* background: pink; */
  text-align: center;
  line-height: 120px;
}

.list a {
  padding: 0 10px;
  color: #333;
}
.body_o li {
  display: inline-block;
}
.body_o .b_price,
.body_o .b_name {
  height: 30px;
}

.body_o .li {
  display: inline-block;
  position: relative;
  z-index: 10;
  width: 199px;
}
.li img{
  padding-top: 20px;
  height: 125px;
  width: 125px;
}
.body_o li:hover .list_all {
  display: block;
}

.body .list_all {
  display: none;
  position: absolute;
  z-index: 20;
  height: 260px;
  width: 100%;
  top: 120px;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #b0b0b0;
  border-top: 1px solid #b0b0b0;
}

.search {
  width: 400px;
  height: 120px;
  /* background: #000; */
  text-align: right;
  line-height: 120px;
}

.search input {
  height: 30px;
}
.search button {
  height: 30px;
}

.poster {
  position: relative;
  height: 500px;
  width: 1200px;
}

.item {
  height: 500px;
  width: 200px;
  background: rgba(12, 12, 256, 0.5);
  position: absolute;
  left: 0;
  z-index: 5;
}
.item li{
  height: 50px;
  width: 100%;
  line-height: 50px;
}
.item li:hover {
  background: orange;
}
.item li a {
  margin-left: 30px;
}
.item li span{
  float: right;
  margin-right: 20px;
}
.item li:hover .item_all {
display: block;
}
.item_all {
  display: none;
  position: absolute;
  left: 200px;
  height: 500px;
  width: 1000px;
  top: 0;
  background: royalblue;
}
.bg img {
    position: absolute;
    z-index: 1;
    left: 0;
    height: 500px;
    width: 1200px;
    opacity: 1;
    transition: all 0.8s;
}
.bg .active{
  z-index: 2;
}
.poster button{
  width: 30px;
  height: 50px;
  border: none;
  color: rgba(0, 0, 0, 0.1);
  font-size: 35px;
  background: rgba(0, 0, 0, 0.0);
  z-index: 5;
}
.poster button:hover {
  background: rgba(12, 12, 18, 0.5);
}

.poster .lt{
  position: absolute;
  left: 210px;
  top: 230px;
}
.poster .gt{
  position: absolute;
  left: 1160px;
  top: 230px;
}
.poster .btn {
  position: absolute;
  left: 1100px;
  top: 450px;
  height: 20px;
  width: 80px;
  z-index: 5;
}
.btn li {
  height: 5px;
  width: 5px;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  background: rgba(12, 12, 18, 0.5);
  border-style: solid;
  margin: 0 2px;
}
.btn .bg_btn {
  background: rgba(12, 12, 256, 0.5)
}

.ad {
  margin-top: 10px;
  height: 140px;
  width: 100%;
}
.card {
  float: left;
  width: 200px;
  height: 140px;
  background: plum;
}
.card li {
  height: 60px;
  width: 60px;
  float: left;
  padding-left: 5px;
  padding-top: 10px;
}

.card a {
  font-size: 12px;
  text-align: center;
  display: block;
}

.card img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-height: 45px;
}

.card_list {
  float: left;
  height: 140px;
  width: 990px;
  margin-left: 10px;
  background: pink;
}
.card_list img {
  float: left;
  height: 140px;
  width: 320px;
}
.card_list .right{
  margin-left: 15px;
}

.bottom_pages {
  margin-top: 10px;
  background: gray;
}

.shop {
  height: 320px;
}
.shop_tab .title{
  float: left;
  height: 40px;
  width: 1100px;
  font-size: 20px;
}
.shop_tab .bom_btn{
  float: left;
  width: 50px;
  height: 30px;
  border: 1px solid #000;
}

.time {
  height: 280px;
  width: 200px;
  background: powderblue;
  border-top: 1px solid red;
  float: left;
}
h4{
  font-weight: 500;
  text-align: center;
  font-size: 30px;
}
.pos {
  height: 280px;
  width: 985px;
  /* background: brown; */
  margin-left: 15px;
  float: left;
  position: relative;
}
.pos1,.pos2 {
  position: absolute;
  height: 280px;
  width: 985px;
}
.pos li{
  float: left;
  height: 250px;
  width: 225px;
  background: #fff;
  padding-top: 30px;
}
.pos li .img {
  height: 125px;
  width: 125px;
  margin: 0 auto;
}
.two {
  margin-left: 28px;
}
.pos img{
  width: 125px;
  height: 125px;
  opacity: 1;
  transition: all 0.5;
}

.list_cad {
  z-index: 10;
}

.ad_post {
  margin-top: 10px;
}
.ad_post .bom_btn {
  width: 80px;
}

.ad_vertical .p_post {
  width: 200px;
  height: 560px;
  background: orangered;
  float: left;
}
.ad_vertical img{
  width: 200px;
  height: 560px;
  float: left;
}

.horizontal {
  height: 560px;
  width: 985px;
  margin-left: 15px;
  float: left;
  background: grey;
}
.horizontal li {
  float: left;
  width: 225px;
  height: 245px;
  padding-top: 30px;
  background: white;
}
.horizontal .img {
  height: 125px;
  width: 125px;
  margin: 0 auto;
}
.horizontal .p_name{
  text-align: center;
  margin-bottom: 10px;
}
.horizontal .p_price{
  color: orange;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.horizontal .p_title,
.horizontal del {
  text-align: center;
  color: #b0b0b0;
  font-size: 14px;
}

.three{
  margin-top: 10px;
}

/* 最后 */
.last {
  margin-top: 10px;
  background: #fff;
  height: 300px;
}
.tool .one {
  text-align: center;
  display: inline-block;
  width: 128px;
  height: 50px;
  line-height: 50px;
}
.tool a{
  color: #000;
}
.tool a:hover {
  color: orange;
}
.help{
  width: 1000px;
  margin-top: 20px;
}
.help li {
  display: inline-block;
  width: 160px;
  height: 30px;
}
.help_list {
  width: 100%;
  height: 60px;
  /* background: #000; */
}
.help_list a {
  display: block;
  color: #b0b0bb;
  font-size: 14px;
  margin-top: 10px;
}
.help_list a:hover {
  color: orange;
}
.help_list div {
  display: inline-block;
  width: 160px;
}
.help_list .box {
  text-align: center;
  width: 200px;
  border-left: 1px solid #b0b0bb;
  margin: 0 auto;
}
.help_list h5 {
  font-size: 22px;
  color: orange;
}
.help_list h6 {
  font-size: 15px;
  font-weight: 400;
}
.help_list button {
  width: 100px;
  height: 40px;
  border-color: orange;
}
.help_list button:hover {
  background: orange;
}